:root {
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    --dark-teal: #23424a;
    --light-teal: #38cfd9;
    font-size: 21px;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

#hero {
    background: var(--dark-teal);
}

#hero-content-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 4em 0;
    max-width: 1100px;
}

#hero-text-wrapper {
    width: 70%;
}

h1 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 3em;
    line-height: 1.5rem;
}

a {
    display: inline-block;
    background: var(--light-teal);
    text-decoration: none;
    color: var(--dark-teal);
    font-weight: 700;
    font-size: 1rem;
    padding: 0.75em 2em;
    border-radius: 2em;
    text-transform: uppercase;
    text-wrap: nowrap;
    transition: transform 0.3s ease;
}

a:hover,
a:focus {
    transform: scale(1.05);
    opacity: 0.75;
}
